*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f8fafc;
}

.navbar{
    width:100%;
    height:80px;
    padding:0 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;

    background:rgba(255,255,255,.75);
    backdrop-filter:blur(15px);
    border-bottom:1px solid #e2e8f0;
}

.logo{
    font-size:1.9rem;
    font-weight:700;
    color:#0f172a;
}

.logo span{
    color:#2563eb;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links a{
    text-decoration:none;
    color:#475569;
    font-weight:500;
    transition:.3s;
    position:relative;
}

.nav-links a:hover{
    color:#2563eb;
}

.nav-links a::after{
    content:"";
    position:absolute;
    width:0%;
    height:2px;
    background:#2563eb;
    left:0;
    bottom:-5px;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.btn{
    padding:13px 26px;
    border:none;
    border-radius:50px;
    background:linear-gradient(135deg,#2563eb,#3b82f6);
    color:white;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 10px 25px rgba(37,99,235,.25);
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 15px 30px rgba(37,99,235,.35);
}

@media(max-width:768px){

.nav-links{
display:none;
}

.btn{
display:none;
}

.logo{
font-size:1.5rem;
}

.navbar{
padding:0 20px;
}

}